name: Build and Deploy All ROS Distros

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * SUN'  # 00:00 on Sunday.

permissions:
      packages: write
      contents: read

jobs:

  call-build-and-deploy-noetic:
    uses: ./.github/workflows/build-and-deploy-one-ros-distro.yaml
    with:
      ros_distro: noetic
  call-build-and-deploy-humble:
    uses: ./.github/workflows/build-and-deploy-one-ros-distro.yaml
    with:
      ros_distro: humble
  call-build-and-deploy-iron:
    uses: ./.github/workflows/build-and-deploy-one-ros-distro.yaml
    with:
      ros_distro: iron
  call-build-and-deploy-rolling:
    uses: ./.github/workflows/build-and-deploy-one-ros-distro.yaml
    with:
      ros_distro: rolling
